@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #1C1C1E;
}

h2{
    color: #F2F2F2;
}



.formreg{
    border-radius: 15px;
    background-color: #292A2D;
    padding: 20px;
    border: 1px solid #3A3A3C;
    display: flex;
    column-gap: 10px;
    
}

input{
    color: #CCCCCC;
}
div{
    color: #CCCCCC;

}

button{
    padding: 10px;
    border-radius: 15px;
    background-color: #9370DB; /* Лаванда */
    color: #FFFFFF;
    border: 1px solid #6A5ACD;
}

